<div class="card">
    <div class="card02">


            
    <img src="developer.png" id="imageCard"/>
</div>
</div>

<style>
.card{
    display: flex;    
   
    justify-content: left;
    background-color: blue;
}
.card2{
    background-color: brown;
    display: flex;
    justify-content: left;
}

</style>