<hr>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        By <a href="https://www.linkedin.com/in/joatha/">Joathã Andrade</a>2021
      </p>
    </div>
  </footer> 
</html>